<p id="notice"><%= notice %></p>

<h1>Listing Worker Positions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Estimatedhours</th>
      <th>Has one</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worker_positions.each do |worker_position| %>
      <tr>
        <td><%= worker_position.description %></td>
        <td><%= worker_position.estimatedHours %></td>
        <td><%= worker_position.has_one %></td>
        <td><%= link_to 'Show', worker_position %></td>
        <td><%= link_to 'Edit', edit_worker_position_path(worker_position) %></td>
        <td><%= link_to 'Destroy', worker_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker position', new_worker_position_path %>
