<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @worker_position.description %>
</p>

<p>
  <strong>Estimatedhours:</strong>
  <%= @worker_position.estimatedHours %>
</p>

<p>
  <strong>Has one:</strong>
  <%= @worker_position.has_one %>
</p>

<%= link_to 'Edit', edit_worker_position_path(@worker_position) %> |
<%= link_to 'Back', worker_positions_path %>
