<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @worker.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @worker.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @worker.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @worker.phone %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
